/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ------------------------ GLOBAL STYLES ------------------------ */

  html {
  font-size: 16px;
  }

  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
   }

   h1 {
     font-family: 'Poppins', sans-serif;
     font-size: 2.25em;
     font-weight: normal;
     line-height: 1.5em;
     color: #fff;
     font-weight: normal;
    }

    h3,
    h4 {
      font-family: 'Poppins', sans-serif;
      font-size: 1.5em;
      font-weight: normal;
      line-height: 1.875em;
      color: #fff;
    }

    a {
     color: #e2e3ed;
     text-decoration: none;
    }

    p {
      line-height: 1.285em;
      color: #fff;
    }

    ul li {
      list-style: none;
    }

    address {
      font-style: normal;
    }

    img {
      width: 100%;
    }

    figure {
      margin: 0;
    }
    /* aside .form {
      margin-top: 30px;
    } */

    .features i {
  	  font-size: 3.75em;
      margin-bottom: 40px;
  }

  input[type=text] {
    box-sizing: border-box;
    width: 100%;
    color: #2a423a;
    font-style: italic;
    padding: 1em;
  }

  input[type=button] {
    width: 100%;
    padding: 20px 0;
    margin-top: 20px;
    background-color: #2a423a;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1.125em;
    color: #e2e3ed;
    border: none;
    text-align: center;
    text-transform: uppercase;
  }

/* ------------------------ HEADER & FOOTER STYLES ------------------------ */
header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------------------ HEADER STYLES ------------------------ */

header {
  width: 100%;
  background-color: #202322;
  color: #e2e3ed;
}

header .content-wrapper {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

header .header-divider {
  border-bottom: 2px solid #3a3a3a;
  width: 100%;
}

header figure {
  padding: 15px 0;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav {
  display: flex;
  justify-content: space-around;
  width: 45%;
  padding: 0;
}

header nav ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  padding: 0;
}

header nav ul li {
  text-align: center;
  display: flex;
  justify-content: space-around ;
  align-items: center;
  /* flex-flow: row nowrap; */
  width: 100%;
}


/* ------------------------ HOME PAGE STYLES ------------------------ */

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

section {
  width: 100%;
  /* margin: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter-signup {
  background-color: #527158;
  width: 100%;
  padding: 30px 20px;
}

.hero-area .content-wrapper {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-flow: row wrap;
  /* background: url('../img/homepage-hero-area.jpg') center no-repeat #333;
  background-size: cover; */
}

.hero-area-img {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
  padding: 65px 20px;
  background: url('../img/homepage-hero-area.jpg') center no-repeat #333;
  background-size: cover;
}

.hero-area-img h1 {
  width: 80%;
  margin: 0;
}

.form-description {
  color: #fff;
}

.form {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-flow: row wrap;
  color: #fff;
  padding: 0;
  margin: 0;
}

/* .form input {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7.5px 0;
  padding: 18px;
  border: 1px solid #000;
} */

.features {
    background: url('../img/features-bg.jpg') center no-repeat #333;
    background-size: cover;
}

.features .content-wrapper {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 0;
  /* background: url('../img/features-bg.jpg') center no-repeat; */
  background-size: cover;
}

.features h3 {
  display: flex;
  justify-content: left;
}

.features .features-items {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.features-items img {
  height: 60px;
  width: 60px;
}

.fontawesome-icon {
    width: 100%;
}

.features-item-description {
  width: 55%;
}

.reviews {
  background-color: #2a423a;
  color: #fff;
  width: 100%;
}

.reviews .content-wrapper {
  width: 90%;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-flow: row wrap;
  flex-shrink: 1;
  padding-top: 50px;
  padding-bottom: 45px;
}

.reviews h3 {
  width: 100%;
}

/* .customer-review article {
  display: flex;
  flex-flow: row wrap;
  flex-shrink: 1;
} */

.reviews img {
 max-width: 100%;
}

/* ------------------------ FAQ PAGE STYLES ------------------------ */

.faq {
  background-color: #527158;
  color: #fff;
}

.faq .content-wrapper {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  padding: 50px 20px;
}

/* ------------------------ ABOUT PAGE STYLES ------------------------ */

.mission .content-wrapper {
  padding: 50px 20px;
  background-color: #527158;
  color: #fff;
  width: 100%;
}

.mission .mission-content {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-flow: row wrap;
}

.mission h1 {
  margin-top: 0;
}

section .map {
  margin: 0;
  padding: 0;
  width: 100%;
}

.map figure {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

iframe {
  width: 100%;
}

section .contact {
  width: 100%;
}

.contact {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-flow: row wrap;
  background-color: #2a423a;
  color: #fff;
  width: 100%;
}

.contact .content-wrapper {
  padding: 50px 20px;
  width: 100%;
}

.contact .content-wrapper p {
  margin: 0;
}

.contact .contact-col-1,
.contact .contact-col-2 {
  width: 100%;
}

/* ------------------------ FOOTER STYLES ------------------------ */

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-color: #202322;
  color: #fff;
  padding-top: 50px;
}

footer .content-wrapper {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

footer .footer-content {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

footer .footer-contact {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

footer h3 {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

footer p {
    width: 100%;
    text-align: center;
    margin: 0;
}

.social {
    width: 100%;
}

footer .social-icons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 50px;
}


.social-icons i {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background-color: #527158;
}

.social-icons p {
    width: 20%;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 0;
}

footer .copyright {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 5px;
}

/* -------------------- MEDIA QUERIES FOR OTHER DEVICES -------------------- */


/*=============================================================================
 TABLET STYLES
 ============================================================================*/
 @media only screen and (min-width: 768px) {

  /*Tablet Header */

  header .content-wrapper {
    height: 100px;
    width: 100%;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
  }

  header .header-divider {
    border-bottom: 0px solid #000;
    width: 0%;
  }

  /* header img {
    margin: 15px 60px;
  }*/

  /* header nav {
    display: flex;
    justify-content: space-around;
    width: 45%;
  } */

  header figure {
    width: 30%;
  }

  header nav {
    display: flex;
    justify-content: space-around;
    flex-flow: row nowrap;
    width: auto;
    padding: 0;
  }

  header nav ul {
    align-items: center;
    flex-flow: row nowrap;
  }

  header nav ul li {
    justify-content: space-around;
    flex-flow: row nowrap;
    margin: 0 20px;
  }

  /*Homepage Styles*/

  .hero-area-img {
    height: 600px;
    padding-left: 65px;
  }

  .hero-area-img h1 {
    width: 70%;
  }

  .newsletter-signup {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 50px 65px;
  }

  .form-description,
  .form {
    width: 40%;
    display: flex;
    /* margin: 0 80px; */
    /* align-items: flex-start; */
    flex-flow: row wrap;
    margin: 0;
  }

  .form-description p {
    margin: 0;
  }

 /*
  .form {
    width: 50%;
    display: flex;
    align-items: center;
  } */

  .features .content-wrapper {
    /* padding: 100px 120px; */
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }

  .features h3 {
    width: 85%;
    display: flex;
    justify-content: left;
  }

  .features .features-items {
    width: 40%;
    display: flex;
    justify-content: space-between;
  }

  .features-items img {
    height: 70px;
    width: 70px;
  }

  .fontawesome-icon {
      width: 100%;
    }

  .features-item-description {
      width: 100%;
    }

  .reviews .content-wrapper {
    justify-content: flex-start;
  }

  .review-photo {
    width: 45%;  }

  .reviews h3 {
    width: 65%;
  }
   .reviews article {
     display: flex;
     justify-content: space-between;
     align-items: flex-start;
     flex-flow: row wrap;
   }

   /* .reviews img, */
   .reviews .review-content{
     width: 45%;
   }

   .reviews h4 {
     margin: 0;
     padding: 0;
   }

  /*About Page Tablet Styles */

  .mission .content-wrapper {
    padding: 90px 60px;
    background-color: #527158;
    color: #fff;
    width: 100%;
  }

  .mission .mission-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
    width: 90%;
    padding: 0;
    margin: 0;
  }

  .mission h1 {
    margin-top: 0;
\  }

  .mission-content p {
    width: 40%;
  }

  .contact .content-wrapper {
    padding: 90px 60px;
    width: 90%;
  }

  .contact {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
    background-color: #2a423a;
    color: #fff;
    width: 100%;
  }

  .contact h1 {
    width: 100%;
    margin-top: 0;
  }

  .contact .contact-col-1,
  .contact .contact-col-2 {
      width: 40%;
  }

  /*FAQ Page Tablet Styles */

  .faq .content-wrapper {
    padding: 100px 65px;
  }
  .faq-item {
    width: 45%;
  }

  .faq h1 {
    width: 100%;
  }

  /*Tablet Footer */

  footer .footer-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
  }

  footer .footer-contact,
  footer .social{
    width: 50%;
  }

  footer h3 {
    width: 100%;
    text-align: center;
    margin: 35px 0;
  }

  /* .social-icons img {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: space-around;
  }

  .social-icons p {
      width: 20%;
      display: flex;
      justify-content: space-around;
      padding: 0;
      margin-bottom: 0;
  } */

  footer .copyright {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 10px;
  }

}

/*=============================================================================
 DESKTOP STYLES
 ============================================================================*/

@media only screen and (min-width: 1200px) {


  header .content-wrapper {
    padding: 0 120px;
  }

  /* .form-description,
  .form {
    width: 27%;
    height: 160px;
    display: flex;
    align-items: flex-start;
  } */

  /* .form-description h3,
  .form-description p {
    width: 100%;
  } */

  .newsletter-signup {
    /* background-color: #527158;
    width: 100%; */
    padding: 50px 80px;
  }

  .hero-area-img {
    height: 600px;
    padding-left: 120px;
  }

  .hero-area-img h1 {
    width: 70%;
  }

  /* .newsletter-signup {
    /* display: flex;
    justify-content: space-around; */
    /* align-items: flex-start;
  }  */

  /* .form h3 {
    margin: 0;
  }

  .form input {
    margin: 0;
  } */
  /* .hero-area .content-wrapper {
      padding: 50px 120px;
  } */

  .features {
    height: 800px;
  }

  .features h3 {
    padding-bottom: 100px;
    margin: 0;
  }

  .features .features-items {
    width: 15%;
    padding: 0 75px;
    display: flex;
    justify-content: space-between;
  }

  .reviews {
    height: 630px;
  }

  .reviews h3 {
    padding-bottom: 95px;
    margin: 0;
  }

  .reviews .content-wrapper {
  padding: 95px 0;
  margin: 0;
  }


  /* FAQ STYLES */
  .faq .content-wrapper {
  padding: 100px 120px;
}


  /* ABOUT STYLES */

  .mission .content-wrapper {
    padding: 100px 120px;
  }

  .mission h1 {
    width: 75%;
  }

  .mission-content p {
    width: 40%;
  }

  .contact .content-wrapper {
    padding: 100px 120px;
  }

  .contact-col-1,
  .contact-col-2 {
    width: 40%;
  }
  /* Footer STYLES */

  footer {
    height: 340px;
  }

  footer .footer-contact,
  footer .social {
    width: 30%;
  }

}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
